
<div class="panel panel-primary">
  <div class="panel-heading">

    <h3 class="panel-title">新增项目</h3>
  </div>
  <div class="panel-body">
      <%= link_to "<<返回", {:action => 'index'} %>
      <%= form_for @project,:url => {:action => 'project_create'} do |f| %>

        <%= render :partial => 'project_form', :locals => {:f => f}  %>

      <% end %>
  </div>
</div>
