<table class="table table-bordered">
    <thead>
        <th>
            项目
        </th>
        <th>
            本周工作
        </th>
    </thead>
    <tbody>
        <% current_user.projects.each do |project| %>
          <tr>
              <td>
                  <%= project.p_name %>
              </td>
              <td>
                  <table class="table table-bordered">
                      <thead>
                          <th>
                              工作内容
                          </th>
                      </thead>
                      <tbody>
                          <% project.week_reports.each do |wr| %>
                            <tr>
                                <td>
                                    <%= wr.wr_content %>
                                </td>
                            </tr>
                          <% end %>
                      </tbody>
                  </table>
              </td>
          </tr>
        <% end %>
    </tbody>
</table>
