/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require normalize-css
 *= require toastr
 *= require semantic
 *= require_self
 */

 html, body {
    background-color: #f4efef;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;
}

body {
    // position: relative;
}

.navbar-default {
    background-color: #6ab47b;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand{
    color: #fff;
}

#container {
    // min-height: 500px;
    margin-bottom: 130px;
}

// #footer {
//      position: absolute;
//      clear:both;
//     height: 100px;
//     background-color: #6ab47b;
//     text-align: center;
//     margin: 0;
//     padding: 0;
//     margin-top: 30px;
//     padding-top: 30px;
//     h5 {
//         color: #fff;
//         margin: 0;
//         padding: 0;
//     }
// }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #6ab47b;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    padding-top: 30px;
    h5 {
        color: #fff;
        margin: 0;
        padding: 0;
    }
}

.jumbotron {
    background-color: rgba(#479d5c, 0.3);
}

.toast-success {
  background-color: #469446;
}

.form-wrapper {
    h2 {
        text-align: center;
        padding-top: 30px;
    }

    width: 60%;
    margin: 0 auto;
    // padding-top: 40px;

}
